
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
    font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;

}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input[type='checkbox'] {
  margin-right: 5px;
}

form input[type='number'],
form input[type='text'],
form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
/* Style for the table container if exists */
.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* Full-width table with fixed layout */
/* Style the table to match the design */
/* Style the dashboard numbers */
.dashboard-numbers {
  display: flex;
  justify-content: space-around;
  background-color: #fff; /* White background */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  margin: 10px 0; /* Margin around the dashboard numbers */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
}

/* Individual dashboard number blocks */
.number-item {
  text-align: center;
}

.number-item .number {
  font-size: 1.5rem; /* Larger font size for the number */
  color: #007bff; /* Blue color for the numbers */
}

.number-item .label {
  font-size: 0.9rem; /* Smaller font size for the label */
  color: #333; /* Dark text for readability */
    white-space: normal; /* Allow the text to wrap */
  text-align: center; /* Center the text for aesthetics */
}


table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Collapse borders for a clean look */
  margin: 20px 0; /* Margin around the table */
  background-color: #fff; /* White background for the table */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow like dashboard numbers */
}

th {
  background-color: #e9ecef; /* Light grey background for headers */
  color: #333; /* Dark text for headers for readability */
  text-align: left;
  padding: 10px; /* Padding within headers for space */
}

td {
  padding: 10px; /* Padding within cells for space */
  border-bottom: 1px solid #e9ecef; /* Light line between rows for definition */
}


th, td {

  text-align: center;
  padding: 8px;
}
.batteryPercentage{
  width:50px;
}
.inOut{
  width:70px;
}
/* Ensure the width of th and td elements are the same for each column */
th:nth-child(1), td:nth-child(1) {
  /* Adjust the width as needed for VIN column */
  width: 20%;
}

th:nth-child(2), td:nth-child(2) {
  /* Adjust the width as needed for Clean Status column */
  width: 13%;
}

th:nth-child(3), td:nth-child(3) {
  /* Adjust the width as needed for Battery % column */
  width: 20%;
  
/* Padding within headers for space */
}
th:nth-child(4), td:nth-child(4) {
  /* Adjust the width as needed for Battery % column */
  width: 20%;
  
/* Padding within headers for space */
}
td {
  padding: 10px; /* Padding within cells for space */
  border-bottom: 1px solid #e9ecef; /* Light line between rows for definition */
}

/* Input and select styles within the table */
input, select {
  width: 100%; /* Full width of cell */
  padding: 5px; /* Padding for inputs */
  border: 1px solid #ced4da; /* Border to match design */
  border-radius: 4px; /* Rounded corners for inputs */
  box-sizing: border-box; /* Include padding and borders in width */
}

/* Button styles */
button {
  background-color: #007bff; /* Blue background for buttons */
  color: white; /* White text for buttons */
  padding: 10px 15px; /* Padding for buttons */
  border: none; /* Remove border for buttons */
  border-radius: 4px; /* Rounded corners for buttons */
  cursor: pointer; /* Pointer cursor on hover */
}




@media screen and (max-width: 600px) {
  form input[type='number'],
  form input[type='text'],
  form select {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding: 10px;
  }

  form input[type='number'],
  form input[type='text'],
  form select {
    width: calc(100% - 16px);
    padding: 6px;
  }

  button {
    width: calc(100% - 16px);
    padding: 8px;
  }
}
.sidebar {
  display:flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color:  #007bff;
  color: white;

  /* Further styling for the sidebar */
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar-stat {
  margin-bottom: 15px;
}

.sidebar-stat h3 {
  font-size: 1rem;
  color: #a9b3c1;
}

.sidebar-stat p {
  font-size: 1.5rem;
  margin-top: 5px;
}
.dashboard-numbers {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  margin: -20px 20px 20px; /* Adjust negative margin to match the outer padding of the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.label {
  font-size: 14px;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .number-item .label {
    display: block; /* Ensure the label takes up the full width of its container */
    margin-top: 5px; /* Add a little space above the label when it wraps */
  }
}
@media screen and (max-width: 600px) {
  .table-container {
    margin: 0; /* Remove margin for full-width on mobile */
  }

  .dashboard-numbers {
    flex-direction: column; /* Stack the dashboard numbers on top of each other */
  }

  .number-item {
    margin-bottom: 20px; /* Add space between stacked items */
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for very small screens if necessary */
  .number-item .label {
    font-size: 0.85rem; /* Adjust font size for labels */
  }

  table {
    font-size: 0.85rem; /* Adjust table font size for readability */
  }

  th, td {
    padding: 6px; /* Reduce padding in table headers and cells */
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  .clean-status-button {
    display: flex; /* Use flexbox to center the button */
    justify-content: center; /* Center the button horizontally */
    margin: 0 auto; /* Additional centering for block-level elements if needed */
}
}