



body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes the full viewport height */
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the dashboard the full height of the viewport */
  overflow: hidden; /* Prevent scrolling within the dashboard */
}

.model-group {
  flex: 1; /* Distribute space equally among model groups */
  overflow: hidden; /* No scrolling within a model group */
  margin-bottom: 16px; /* Space between model groups */
  display: flex;
  flex-direction: column;
}

.model-group-header {
  background: #e0e0e0;
  color: #333;
  text-align: center;
  padding: 4px 0; /* Reduced padding */
  font-size: 1rem; /* Adjust font size */
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px; /* Reduced gap */
  padding: 8px; /* Reduced padding */
  flex-grow: 1; /* Allow grid to fill the space */
  overflow: hidden; /* No scrolling within the grid */
}

.grid-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.car-header {
  display: flex;
  justify-content: space-between;
}

.image-container {
  padding: 8px; /* Reduced padding */
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-image {
  max-width: 100%;
  max-height: 100px; /* Set a max height for images */
  object-fit: contain; /* Adjust this as needed */
}

.car-info {
  padding: 8px; /* Reduced padding */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1; /* Allow car info to grow */
}

.car-vin {
  background: #00457C;
  color: #ffffff;
  text-align: center;
  padding: 4px 0; /* Reduced padding */
  margin-top: auto;
  font-weight: bold;
  font-size: 0.85rem; /* Adjust font size */
}

/* Ensure that text doesn't overflow its container */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.status-clean {
  color: green;
  font-family: inherit;
  font-weight: bold;
}

.status-dirty {
  color: red;
    font-weight: bold;

}

.battery-high {
  color: green;
    font-weight: bold;

}

.battery-low {
  color: red;
    font-weight: bold;

}

.location-in {
  color: green;
    font-weight: bold;

}

.location-out {
  color: red;
    font-weight: bold;

}
